<div class="jumbotron">
  <h2>You are a werewolf</h2>
  <hr>
  <p>Your mission is to eat everyone in the village before they lynch you.</p>
  <button onclick="document.start_game();">lets play</button>
</div>
