<div class="jumbotron">
  <h2>You are the cupid</h2>
  <hr>
  <p>Please select two players to make lovers.</p>
  <%= for user <- @users do  %>
    <button id="user-<%= user.name %>"><%= user.name %></button>
  <%= end %>
</div>
