<div class="jumbotron">
  <h2>Welcome to the Werewolf game</h2>
  <p class="lead">To get started enter a name to play under:</p>
  <label for="username">username:</label>
  <input type="text" name="username" id="username">
  <br>
  <br>
  <button onclick="document.join_game();" >start game</button>
</div>
